/* Header skeleton: 
    - Flexbox container (header)
    - Flex-basis and margins should be the same for header and each section
        - Flexbox items (also a container): div and nav
        - Space between?
            - div (logo)
            - nav (justify space-between with gap of xx px)
*/

header {
    display: flex;
    margin: 0px 120px;
    padding: 0px 0px;
    justify-content: space-between;
    align-items: center;
    flex-basis: 850px;
}

nav, ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

ul, ul a {
    list-style-type: none;
    text-decoration: none;
}


/* Hero skeleton:
    - Flexbox container (section)
        - Flexbox items
            - (Also a container) This website is awesome / subtext button
            - Img
    
    */

.hero {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: 35px 120px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.hero img {
    display: flex;
    flex: 1;
    margin: 0px;
    width: 100%; /* This might change depending on the image used */
    max-width: 600px; /* This might change depending on the image used */
    height: 60% /* This might change depending on the image used */
}

.hero button {
    padding: 4px 16px;
    display: flex;
    align-self: flex-start;
    margin: 8px 0px;
}

.hero-container h1 {
    font-size: larger;
    margin-bottom: 7px;
} 

/*  Categories skeleton:
    - information div
    - image container
        - display: flex;
        - justify-content: center;
        - gap: 52px;

        - item: max-width: 200px;



*/
