@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    margin: 0px;
    padding: 0px 120px;
    justify-content: space-between;
    align-items: center;
    /* flex-basis: 850px; */
    background-color: #1f2937;
}

nav, ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

ul, ul a {
    list-style-type: none;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: 0px;
    padding: 75px 120px;
    background-color: #1f2937;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    
}

.hero img {
    display: flex;
    flex: 1;
    margin: 0px;
    width: 100%; /* This might change depending on the image used */
    max-width: 600px; /* This might change depending on the image used */
    height: 120px;
}

.hero button {
    padding: 4px 16px;
    display: flex;
    align-self: flex-start;
    margin: 8px 0px;
}

.hero-container h1 {
    font-size: xx-large;
    margin-bottom: 7px;
} 

.info {
    text-align: center;
    display: flex;
    /* flex-basis: 850px; */
    flex-direction: column;
    margin: 0px;
    padding: 25px 120px;
    justify-content: space-between;
    align-items: center;
}

.info-title {
    display: flex;
    margin-bottom: 35px;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
}

.info-item {
    max-width: 200px;
}

.info-subtext {
    display: flex;
    margin-top: 0px;
    text-align: center;
}

@media(max-width: 768px) {
    .info-container, .hero {
        flex-direction: column;
    }
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 60px 160px;
}

.quote > .attribution {
    text-align: end;
    font-weight: bold;
}

.banner {
    margin: 0px;
    padding: 60px 120px;
    display: flex;
    justify-content: center;
}

.banner-container {
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-left {

}

.cta button {
   
}

footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding: 30px 0px;
    background-color: #1f2937;
}